.card{
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(30, 40, 67, 0.12);
  background-color: white;

  &--horizonale {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $text-primary;
    margin-bottom: 2px;
  }
  
  &__picture {

    img {
      background-size: cover;
      border-radius: 8px;
      height: 100%;
      z-index: 0;
    }

    &-heart {
      position: absolute;
      top: 16px;
      left: 16px;
      cursor: pointer;
      padding: 5px 5px 0px 5px;
      border-radius: 50%;
      transition: .2s;
    }
    &-heart:hover{
      background-color: $primary;
    }
  }

  &__price {



    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $text-secondary;
      text-align: right;
    }

    .price {
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: $text-primary;
    }
  }

  
  &__about {
    .about {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 72%;
      right: 0;
      background-color: white;
      height: 100%;
      padding: 15px 18px;
      border-radius: 8px;

      &__block-one {
        width: 70%;
      }
      &__block-two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }

  &__info-type {
    background: #4F9CF8;
    max-width: 115px;
    margin-bottom: 8px;
    padding: 3px 9px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: $white;
  }


 





  &__info{
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;

    


    &-rating{
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-vidodo{
        margin: 0 5px;
        padding: 1px 4px;
        border: 1px solid #DCDFE7;
        border-radius: 4px;
        font-size: 12px;

        img { 
          padding-right: 2px;
          border-right: 1px solid  #DCDFE7;
        }

      }

      &-general{
        margin: 0 5px;
        padding: 1px 4px;
        border: 1px solid #DCDFE7;
        border-radius: 4px;
        font-size: 12px;

        img{
          padding-right: 2px;
          border-right: 1px solid  #DCDFE7;
        }

      }
    }
  }
}