.catalog {
  &__search {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
  }

  &__covid-info {
    padding: 16px;
    background: $beige;
    border: 1px solid #E6DAC7;
    font-weight: 600;
    font-size: 14px;
    color: #7E776A;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 16px;

    a {
      color: $primary;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: $text-primary;
  }

  &__category {
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;
      width: 265px;
      height: 70px;
      border: 1px solid $gray;
      border-radius: 8px;
      background: $light-gray-gradient;
      display: flex;
      align-items: center;

      img {
        position: absolute;
        top: -3px;
        right: 15px;
      }
    }

    &-item-text {
      font-weight: 600;
      font-size: 16px;
      color: #4B587B;
      padding: 0 16px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }

  &__cards {
    width: 100%;
    padding: 0 0 0 30px;
    
  }

  &__filters {
    .filters {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      &__found {
        font-weight: 500;
        font-size: 16px;
        color: $primary;
      }

      &__text {
        margin-right: 16px;
        color: $text-primary;
      }
    }
  }

  .sidebar {
    width: 265px;
    border-radius: 8px;
    border: 1px solid $gray;
    max-height: 100%;

    &__header {
      background: $light-blue;
      padding: 12px 16px;
      border-bottom: 1px solid $gray;

      &-title {
        font-weight: 500;
      }
    }

    &__item {
      padding: 16px;
      border-bottom: 1px solid $gray;
    }

    &__item:last-child {
      border-bottom: none;
    }

    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: $text-primary;
    }

    &__control {
      margin-top: 12px;
    }

    &__filter {
      margin: 8px 8px 0 0;
    }

    &__reset {
      margin-top: 25px;
    }

  }

}