.icon {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;


  &_lock {
    width: 16px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC1SURBVHgBpZKBEcMgCEUxEzhCR8kI3aAZIZ0g6WQZpd0g2YBCC3ecpyTqu+OO8wMiCJABEUeyjWzHP+w/4AoUuGCZ5Sx5MsErWRSbzfnoFdgkaM5oqz7HK6DEjBZF208L1OgDdDLwenRd6U0pif7m3MAOnd2gjSNo5UDUZGpe/wygk2IBM9zfsMAJzO5eErH0eVTwnmB/4wENHdxNB1Mpz13jFa17C0EGFKGND3fwZAfq4cG+vteUMXP2AJaqAAAAAElFTkSuQmCC');
  }

  &_close {
    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEOSURBVHgBjZM9TsQwEIXnjQkIbcNRQoO0ZcTPtnCDcAKOQDgCJyCcYPuVkBsaaMhRaADBJh7saKONHSXOayx55nt64x9s9GsqtbpeXS4Lmqm1/jg5bn4LNlwyNQc5mO83L+9Pc+FFs9UM3Bk2OSfqqCBQRSR5zKSDCZKKoPqxLFxB28JW/jQJpUQor87PbmPwt0qym+z0E13DlMkY7GrcNWV2I8FhFo7jw+a5DzshjBomadcdvLpY5mH/wGBoYvOMwN4IfbX5zN4bUEIjGhiEM8eumKdgF9s/2Le16+kzmIK7mncmQPWF/U0gBsdMMAeeMuGF/VVzYCfvsYmk7Y8kU5dizEMMDk2MyCOruvwHf3IFVOAayD0AAAAASUVORK5CYII=');
  }

  &_catalog {
    width: 18px;
    height: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGJSURBVHgBnVOxTgJBEJ3ZMyeNcImNifGyFIaz4xOAi4kd0lniF4h/4B94fIH6BWJnIR5/YHtUXKCxPDsEuXF2FwwYBOQlm53dnX0z82YXgeGe+FdIcA5bgAha/W67abmFSgMAA70JkJCZlw5GSVkEmJg1SUC8yO3nP3YIsYpAcT96za+KLL2STMHqsfkwiNo3s33X83vIHEItEDCGNYijTsy5XApI7xdK4yPNceT5IWckR2CX36PntYTzcGTJye6KkDNKBFMmzCdtGIcH3plcdZHLuDs8Pi0qW/lmM9Yba6TXYtBt1yiFGtvSpnHjLxKlEU91y5ro7towqqvtFLCMw0lNqPRITBLtjZTApiBy9BUBuTjuJGIvYz0KsEI+iX8LuYAhS0DQnPkIpEDdwZRabsFvGbEJHfH5VVbM8A9MnwQ3C2LTfi5pExL1A+YbYp6Eab8mIjT1rovOpQVTkX/A2Ug96y+CeKsC4JR9GYjL52YU5/3IkHAAukaTcqXBjlXYAqzvU7/7EnwDrhCfMzIuE5wAAAAASUVORK5CYII=');
    vertical-align: bottom;
  }

  &_help {
    width: 18px;
    height: 18px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJPSURBVHgBfVRNbhNRDLb9GhQW0CyRWsKwKIzYEE7ApAGJHfQEaU/QcgKSG5QThJygZYcEVeYGTDcQ0UUf0ErsGsGmaDLPtecnyaRJLU3ei8fv8+fPfoNwg61tBA0y1ACHI8eJPT8Jo2WxOO+oeUHtbpV2AXEPGGpzry0DhDFUun+Gn+xSoHU/CAjNgQLoAWQ4ZuQoD/RkactOV+sg2TkbhuE1oBQEzACQR5zgzu8fR4ewwO77m9ty6J0CClizAEuB7vmvvFsQD0CoELimHYZWS7xTNfuI8FpjmOHw32XydmTDkecHnkP6KtrB3//JQ/WRBlUg7kBKHTsKor7V26YnWdoCEOkj++3VqpStdUmMshYaqufehG7db53W/c3T4v/axsuG+Fie3kzMB/V50slpma1B/XHrQvekhzI20C8CKnEsYmKTpJRJtlz0sZl2EtkdKysFXyF0XqqBMC4CrNQsSzjJ/Kj1BlKB2c52ihG1ZEhk1giI52el3CUBQYKDtBHkthYGEV2suMRExkghjI3FQbArGNIV98x+zxoxKS2TBEw8/knnJ58jnR1p89NFOIj8Udh0i27OvW1ruVauDmXF0nvRKMi1KJtDT6g/mHfrYEI2MmFGXH8ux/s5q54OZzmpDCRzKYHGIGAqPkHSzcJyW/dfyBVhme60e51fw6M+LLBUfAM9vY86ImfDL2EJaArmesXFlIz9Yiy0GSw6yoFA2TumrQLkGpBaeo/AdATkeQ44UyaPVE+VIp81WApUAn0SNJKx8XTWDLnIflv+YbsC0D3/ChikNwwAAAAASUVORK5CYII=')
  }

  &_favorites {
    width: 18px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGcSURBVHgBlZO9UsJAEMd3D3FsdOKMhQUwoZG0vEEACzvhCYQnEN7AR+AN5A3UzoKPvAFUTrQhgoWFM2a0C+bOXUIwZggf/yJ3t7f3273dC0JEmm5qhweiigA6IH56Kv3wbj86vKcbpi4xdQlKHSuJo2/Pt1zHcsOzGE5yRuWKVm1QoEXhCrGNUpInNuG/HCWhNX3p3fNC8CdrlOs0dCiaS7CmAD8vAUsKwEKlmgzhOR2sBXbVoBCAAu4yhmkuM6JsxrwhQJYc23KiYXOFSptA7sTu3kTtwVXFkFKmvV4eM8a5KUANKJvW5Lnfhh2UK5QoiLgWvl8UCFIPagEu7Ciq34jHnxRoQvqp0eKOOuwsNPm754O7qFF5THjNw3QxbPcmnRoX+j7Ohtygid3Pz7smQTQoJW0fZgN22ApCvvxUhJA1ts1Bb3bXCloK+ibYEkK+fMZ5ssLS/InfEwLe0tTxIF2KXzMOmdr9TriH8YhJsHWQlaBVMLatgySC4rCFKRHCSiWBvj7Go6OT/CvB6rTU1kG2UvasUuXfaJPfL1jdyAwwknHhAAAAAElFTkSuQmCC')
  }

  &_basket {
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIFSURBVHgB1VPNbtNAEJ5ZG3APUCM4VIIGR4hibnkDrAQkbvjIreEJUN+APEH6BvQNSB6AxrlxS48REor5uSCB2PZklHqH2V0HuwlJ00ulfpK1uzOzn2dmvwG4LPhB5C+zb4UvgmX3xDLHTc/Zr4WtSdUWMNktzxndgOm7CxFu70QxAuzyNqna0zSRvAwJILofRtHahCicrnXmncUL+VtAkoLc7v/uOgvZhc02ArYBqPNlPOjN++XPVG7efbjBpK8279SPj39NPp5JpnrQzb4O0wGTwdfxYR2WQPdSeWIEhP7Jn7wubStKwpLIxrNVMqeEVUDwOcY3sQpThad738dJ4mqfC6eBJSJJhAkHno8iBol0Ag03n0ug9qT5+0HYGsAFUXv8bFQLm//k5ZZ/pD4B7mrhznqyvdOKUcDLkyzf0ypXntMlBf1vnz6Yx7ICnza4l/0ZjSgr4FJBC1rEMxsKavDS9j3ulf54X9gMrqmp3SO8XyB0MtWzPngK60JAbJd8WJoKFFOQcvoxrAnzc6SjdJykC4QGpPpaDkEYBfaIR7wcyIxfMDOveFDY4N6j57rcgCUzrFK41YNCpyeA3igyfdwvmm9aUWji9SzWcfOIq+E7eW8u6xJmAjbEhAMl6vJXgLkaWtisgNvVSTkzy1KmmZlTI1bcYpO/4suYtfPj82ECVwp/AZFdwv0RGBOxAAAAAElFTkSuQmCC');
  }


}
