.icon {
  display: inline-block;
  margin-right: 12px;

  &_lock {
    width: 16px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC1SURBVHgBpZKBEcMgCEUxEzhCR8kI3aAZIZ0g6WQZpd0g2YBCC3ecpyTqu+OO8wMiCJABEUeyjWzHP+w/4AoUuGCZ5Sx5MsErWRSbzfnoFdgkaM5oqz7HK6DEjBZF208L1OgDdDLwenRd6U0pif7m3MAOnd2gjSNo5UDUZGpe/wygk2IBM9zfsMAJzO5eErH0eVTwnmB/4wENHdxNB1Mpz13jFa17C0EGFKGND3fwZAfq4cG+vteUMXP2AJaqAAAAAElFTkSuQmCC');
  }

  &_close {
    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEOSURBVHgBjZM9TsQwEIXnjQkIbcNRQoO0ZcTPtnCDcAKOQDgCJyCcYPuVkBsaaMhRaADBJh7saKONHSXOayx55nt64x9s9GsqtbpeXS4Lmqm1/jg5bn4LNlwyNQc5mO83L+9Pc+FFs9UM3Bk2OSfqqCBQRSR5zKSDCZKKoPqxLFxB28JW/jQJpUQor87PbmPwt0qym+z0E13DlMkY7GrcNWV2I8FhFo7jw+a5DzshjBomadcdvLpY5mH/wGBoYvOMwN4IfbX5zN4bUEIjGhiEM8eumKdgF9s/2Le16+kzmIK7mncmQPWF/U0gBsdMMAeeMuGF/VVzYCfvsYmk7Y8kU5dizEMMDk2MyCOruvwHf3IFVOAayD0AAAAASUVORK5CYII=');
  }
}
