.input {
  display: block;
  position: relative;

  &__field {
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    font-size: 18px;
    background: #FFFFFF;
    border: 1px solid #DCDFE7;
    box-sizing: border-box;
    border-radius: 12px;
  }

  &__field:focus {
    outline: none;
    border: 1px solid $primary;
  }

}
