.input {
  display: inline-block;
  position: relative;
  
  &__inner {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__error {
    p {
      color: red;
      font-size: 12px;
      padding: 2px 0 0 5px;
    }
  }

  &__field {
    width: 100%;
    height: 40px;
    padding: 10px 20px 10px 35px;
    border-radius: 8px;
    border: 1px solid $gray;

    &_error {
      border: 1px solid red;
    }

    &_search {
      width: 292px;
      margin: 0 8px 0 0;
    }

    &_datepicker {
      height: 36px;
    }

    &_authorisation {
      height: 46px;
      width: 355px;
      border-radius: 12px;
      padding: 10px 20px;
      font-size: 18px;
    }
  }

  &__field:focus {
    outline: none;
    border: 1px solid $primary;
  }

  &__field::placeholder {
    font-weight: 500;
  }

}
