@import './auth.scss';
@import './animation.scss';


*, 
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy';
  font-size: 1rem;
}
.container {
  width: 88%;
  max-width: 1150px;
  margin: 0 auto;                                           
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.main {
  &__header {
    margin-bottom: 25px;
  }
  
  &__breadcrumbs {
    font-size: 12px;
    font-weight: 500;
    color: $text-secondary;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    color: $text-primary;
  }

  &__info-tip {
    border-radius: 8px;
    background-color: #FFF4E1;
    padding: 17px 24px;
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 16px;
    color: #A48756;
  }
}
