.tour-card {
  box-shadow: 0px 1px 4px rgba(30, 40, 67, 0.12);
  border-radius: 8px;
  max-width: 262px;
  margin-bottom: 20px;

  &_horizontal {
    display: flex;
    max-width: 100%;
  }

  &__rating {
    .rating {
      &__item {
        border: 1px solid $gray;
        border-radius: 4px;
        max-width: 50px;
        margin-left: 8px;

        &-logo {
          border-right: 1px solid $gray;
          padding: 2px 5px 0 5px;
        }

        &-score {
          padding: 2px 4px 0 4px;

          p {
            font-weight: 600;
            font-size: 12px;
            color: $text-primary;
          }
        }
      }
    }
  }

  &__img {
    position: relative;
    min-width: 260px;
    min-height: 144px;
    background-size: cover;
    border-radius: 8px;
    background-repeat: no-repeat;

    &_horizontal {
      min-width: 292px;
      min-height: 180px;
    }
  }
  

  &__add-favorites {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    position: relative;
    margin-top: -10px;
    padding: 16px 18px;
    border-radius: 8px;
    background: $white;

    &_horizontal {
      margin-top: 0;
      margin-left: -10px;
    }
  }

  &__type {
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 8px;
    background: $blue;
    color: $white;
    margin-bottom: 8px;
  }

  &__about {
    max-width: 100%;

    &_horizontal {
      max-width: 75%;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
    color: $text-primary;
    cursor: pointer;
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    color: $text-primary;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 46px;
    line-height: 130%;

    &_horizontal {
      margin-bottom: 20px;
    }
  }

  &__price {
    position: absolute;
    bottom: 16px;
    right: 18px;

    p {
      font-size: 12px;
      color: $text-secondary;
      text-align: right;
    }

    span {
      display: block;
      text-align: right;
    }
    
    &_old {
      text-decoration: line-through;
      font-size: 16px;
      font-weight: 600;
      color: $text-primary;
    }

    &_new {
      color: $primary;
      font-weight: 600;
      font-size: 22px;
    }

    &_base {
      font-weight: 600;
      font-size: 22px;
      color: $text-primary;
    }

    &_savings {
      font-weight: 500;
      color: $primary;
      font-size: 12px;
      text-align: right;
    }

    
  }

  &__tags {
    .tags {
      &__item {
        margin-right: 20px;
      }
    }
  }
}