$orange: #FF5134;
$green: #0DB886;
$blue: #4F9CF8;
$yellow: #FFC47B;
$pink: #FF7EB9;
$white: #fff;
$gray: #DCDFE7;
$beige: #FFF4E1;

$light-blue: #D5EFFB;
$light-gray: #B1B6C1;

$dark-blue: #1E2843;

$light-gray-gradient: linear-gradient(0deg, #FFFFFF 0%, #EFF4F6 25.8%, #EFF4F6 51.28%, #FFFFFF 100%);
$light-green-gradient: linear-gradient(180deg, #15D79D -46%, #00875F 119%);
$light-orange-gradient: linear-gradient(180deg, #FF7C66 0%, #FF5134 167.86%);

/* main variables */
$primary: $orange;
$secondary: $green;
$disable: $gray;

$text-primary: $dark-blue;
$text-secondary: $light-gray;
/* main variables */

